---

import Main from '../layouts/Main.astro';
---

<Main>
	<h1>🔬 Urban Research & Archives</h1>
	<h4>Welcome to my personal research and archive portal, where knowledge meets preservation.</h4>
			<ol>
				<li><b>Research Repository:</b> Dive into my journey of exploration. Discover my curated collection of articles, papers, and insights.</li>
				<li><b>Noteworthy Notions:</b> Unravel the threads of my thought process. Explore my annotated notes and reflections.</li>
				<li><b>Time Capsule of Treasures:</b> Step into my personal vault of cherished memories. Browse through my personal notes, research guides, and links / content I find interesting.</li>
			</ol>
			<ul>
				<li>Dive into Research: Explore the depths of my curated knowledge base. [Link to research section]</li>
				<li>Unravel the Notes: Get tangled in the web of my reflections and insights. [Link to notes section]</li>
				<li>Unlock the Archive: Discover the gems I hold dear. [Link to archive section]</li>
			</ul>
			
			
</Main>

