---
import type { CollectionEntry } from 'astro:content'
import Post from './Post.astro'
interface Props {
	posts: CollectionEntry<'docs'>[]
}
const {posts} = Astro.props
---

<div class="grid grid-flow-col gap-6">
	<Fragment>
		{
			posts.map((p) => (
					<Post post={p} />
				))
		}
	</Fragment>
	
</div>