---
import 'github-markdown-css/github-markdown-dark.css'

import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';


type Props = {doc: CollectionEntry<'docs' | 'notes'>};

const { doc } : Props = Astro.props;
const postDate = doc.data.pubDate
---

			<main class="">
				<div class="hero-image">
					<img width={510} height={510} src={doc.data.coverImage ?? 'https://www.digitalocean.com/_next/static/media/intro-to-cloud.d49bc5f7.jpeg'} alt="" />
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
                            
							{
								postDate && (
									<div class="last-updated-on">
										Posted On <FormattedDate date={postDate} /><br />
                                        
									</div>
								)
							}
						</div>
						<h1>{doc.data.title}</h1>
						<div class="grid grid-flow-row gap-5">
                            <sub>Written & Compiled By {doc.data.author}</sub>
                            {doc.data.tags && <span class="justify-start text-left">Tags</span>}
                            <div class="tag-container">
                                {
                                    doc.data.tags && doc.data.tags.map((tag) => (
                                        <span class="tag">{tag}</span>
                                    ))
                                }
                            </div>
                           
                        </div>
					</div>
					<slot />
				</div>
			</main>

	
            <style lang="postcss">
                .tag-container {
                    @apply inline-flex gap-3 px-10;
                }
                .tag {
                    @apply bg-orange-500 text-white p-1 rounded border border-black;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 0 0 0.5rem 0;
                    color: rgb(var(--white));
                    line-height: 1.2;
                }
                .hero-image {
                    width: 100%;
                }
                .hero-image img {
                    display: block;
                    margin: 0 auto;
                    border-radius: 12px;
                    box-shadow: var(--box-shadow);
                }
                /* .prose {
                    width: 720px;
                    max-width: calc(100% - 2em);
                    margin: auto;
                    padding: 1em;
                    color: rgb(var(--white));
                } */
                .title {
                    margin-bottom: 1em;
                    padding: 1em 0;
                    text-align: center;
                    line-height: 1;
                }
                .title h1 {
                    margin: 0 0 0.5em 0;
                }
                .date {
                    margin-bottom: 0.5em;
                    color: rgb(var(--white));
                }
                .last-updated-on {
                    font-style: italic;
                }
            </style>