---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import 'github-markdown-css/github-markdown-dark.css'
import { SITE_TITLE, type PageSEO } from '../consts';

interface Props {
	page?: PageSEO
}
const {page} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead page={page} />
        <slot name="header" />
	</head>
	<body class="markdown-body"> 
		<Header title={SITE_TITLE} />
		<div class="font p-10">
			<slot />
		</div>
	</body>
    <footer>
        <Footer />
        <slot name="footer" />
    </footer>
</html>

<style>
	.font {
		font-family: 'Montserrat', sans-serif;
	}
</style>
